$green: #80b7b3;
$light-gray: #e9ebec;
$gray: #939ea2;
$font-color: #52646b;
$title-color: #273d46;
$dark-grey:#707070;
$grey-comment:#b1aeae;
$btn-grey: #2B2B2B;
$btn-grey-light: #B2B2B2;
$blue: #117dbf;
$text-warning: #FF0070;


$black: #000;
$white: #fff;
$green: #179200;
$dark-brown: #323232;
$grey-text:#B2B2B2;
$image-shadow: 0 24px 38px -1px rgba(0, 0, 0, 0.2);