extends main
block variables
    - var pageTitle = ' Главная';

block content
    .banner

    .wrapper-content
        .main
            aside.aside
                a(href='index.html').aside__nav
                    img(src='../img/icon_arrow_forward@2x.png' alt='').main__nav-arrow
                .main__subtitle  WATCHPARTS / FAQ
                .main__header.lk__header_none FAQ
                .lk__menu-block
                    .lk__menu
                        span.lk__indicator.lk__plus
                        span Контакты
                    nav.lk__nav
                        li
                            a.active(href="faq.html") Оплата и доставка
                        li
                            a(href="guarantee.html") Гарантия
                        li
                            a(href="return.html") Возврат
                        li.lk__exite Выйти

            .main__content
                .main__subtitle FAQ
                .main__header Доставка и оплата
                .main__p Мы доставляем часовые ремешки и браслеты по Москве, Санкт-Петербургу и всей России. Комфортная доставка курьером до дома/работы либо до пункта самовывоза с оплатой на месте доступна в 5000 населенных пунктов нашей страны. Стоимость доставки зависит от марки ремешка, региона, скорости и вида доставки (до двери или до ПВЗ). Для заказов стоимостью от 5000 руб. и выше бесплатная доставка в большинство городов России, для заказов меньшей стоимости — доставка небесплатная, но очень недорогая. (подробнее см. ниже). После оформления заказа мы обязательно перезвоним вам и познакомим со всеми вариантами доставки заказа для вашего региона.
                table.table
                    tbody
                        tr.table__bold
                            td Город/Доставка
                            td Самовывоз
                            td Курьер
                        tr.table__bold
                            td Код товара
                            td 90
                            td 220
                        tr
                            td Материал
                            td 90
                            td 220
                        tr
                            td Цвет
                            td 90
                            td 220
                        tr
                            td Сервис
                            td 90
                            td 220
                .main__block-text
                    .main__subtitle.bold Сроки доставки
                    .main__p Мы отгружаем ремешки с собственного склада и поэтому обеспечиваем максимально комфортные условия доставки. Москва, Московская область, Санкт-Петербург, Нижний Новгород: 1—2 рабочих дня. Большинство других городов: 3—6 рабочих дней. При оформлении заказа наш оператор сообщит вам точное время доставки до вашего населенного пункта.
                .main__block-text
                    .main__subtitle.bold Виды доставки
                    .main__p
                        ul.list-disc
                            li Курьерская до квартиры/офиса. Доставка до двери с обязательным предварительным звонком курьера и с возможностью оплаты при получении заказа.
                            li Самовывоз. Как только заказ прибудет в ваш регион, вам отправляется SMS-сообщение либо звонит оператор службы доставки.
                            li После этого вы можете забрать вашу посылку в удобное время в течение недели или двух в зависимости от ПВЗ. Во многих городах у нас есть не только платные, но и бесплатные пункты самовывоза, а в остальных — ПВЗ по минимальным ценам.
                            li Доставка Почтой России. В крайнем случае, мы работаем и с Почтой России.
                .main__block-text
                    .main__subtitle.bold Способы оплаты
                    .main__p
                        ul.list-disc
                            li Наличные. Самый популярный вариант — оплата курьеру либо работнику ПВЗ при получении заказа (доступно для большинства городов РФ).
                            li Банковские карты. Онлайн-оплата (Visa/Mastercard). Кроме того, карты принимаются в некоторых из пунктов самовывоза Москвы, Нижнего Новгорода, Казани, Краснодара и других (но не всех) городов.
                            li Яндекс.Деньги. Онлайн-оплата.
                            li WebMoney. Онлайн-оплата.
                            li Qiwi-кошелек. Онлайн-оплата.
                            li Терминалы. Оплата в терминалах и банкоматах, а также в салонах связи. Сбербанк, Московский Кредитный, Евросеть, Связной и другие.
                            li Банковский перевод. Оплата по квитанции в банке либо перевод с вашего счета любым другим способом (например, через Онлайн-Банкинг).
                            li Безналичный расчет с договором и прочей документацией при работе с юридическими лицами. Онлайн-оплата проходит на защищенном сайте специального сервиса «Яндекса», т.о., вы не передаете нам никаких данных вашего платежного средства, в т.ч. данных банковской карты.

    include footer
