extends main
block variables
    - var pageTitle = 'Личный кабинет';

block content

    .lk
        .lk__wrapper
            .lk__content
                aside.lk__aside
                    .lk__header.lk__header_none WATCHPARTS /
                    .lk__header.lk__header_none личный кабинет
                    .lk__menu-block
                        .lk__menu
                            span.lk__indicator.lk__plus
                            span Личный кабинет
                        nav.lk__nav
                            li
                                a(href="fast_delivery.html") Быстрая справка
                            li
                                a(href="history_orders.html") История платежей
                            li
                                a(href="status.html") Статус заказа
                            li
                                a(href="history_orders.html") История заказов
                            li
                                a(href="order.html") Корзина
                                span.lk__cart 21
                            li
                                a(href="payments.html") Платежные средства
                            li
                                a.active(href="favorites.html") Любимые товары
                            li
                                a(href="profile.html") Профиль покупателя
                            li.lk__exite Выйти

                .lk__main
                    .lk__name-user MAX GUELMANN
                    .lk__header Любимые товары
                    .goods__content
                        mixin goods__item-mixin()
                            .goods__item
                                div
                                    img(src="../img/30082.jpg" alt="").goods__img
                                div
                                    div.goods__brend miota
                                    div.goods__name МЕХАНИЗМ В СБОРЕ MIYOTA 0S30
                                    div.goods__price-block
                                        span.goods__price 18600
                                        span.goods__rub руб
                                    .btn__in-order В заказ
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()
                        +goods__item-mixin()

                    button#loadMore.btn-black Загрузить еще

    include footer
