extends main
block variables
    - var pageTitle = ' Главная';

block content
    .banner
    .wrapper-content
        .main
            aside.aside
                a(href='index.html').aside__nav
                    img(src='../img/icon_arrow_forward@2x.png' alt='').main__nav-arrow
                .main__subtitle  WATCHPARTS / FAQ
                .main__header.lk__header_none Гарантия
                .lk__menu-block
                    .lk__menu
                        span.lk__indicator.lk__plus
                        span Контакты
                    nav.lk__nav
                        li
                            a(href="faq.html") Оплата и доставка
                        li
                            a.active(href="guarantee.html") Гарантия
                        li
                            a(href="return.html") Возврат
                        li.lk__exite Выйти
            .main__content
                .main__subtitle FAQ
                .main__header Гарантия
                .main__p Morbi porttitor fringilla arcu et scelerisque. Vestibulum ipsum risus, consequat id odio eu, dapibus sagittis lacus. Ut vel mauris porttitor, ultricies magna sit amet, egestas odio. Morbi porttitor fringilla arcu et scelerisque. Vestibulum ipsum risus, consequat id odio eu, dapibus sagittis lacus. Ut vel mauris porttitor, ultricies magna sit amet, egestas odio. Morbi porttitor fringilla arcu et scelerisque. Vestibulum ipsum risus, consequat id odio eu, dapibus sagittis lacus. Ut vel mauris porttitor, ultricies magna sit amet, egestas odio.
                .main__p Morbi porttitor fringilla arcu et scelerisque. Vestibulum ipsum risus, consequat id odio eu, dapibus sagittis lacus. Ut vel mauris porttitor, ultricies magna sit amet, egestas odio. Morbi porttitor fringilla arcu et scelerisque. Vestibulum ipsum risus, consequat id odio eu, dapibus sagittis lacus. Ut vel mauris porttitor, ultricies magna sit amet, egestas odio. Morbi porttitor fringilla arcu et scelerisque. Vestibulum ipsum risus, consequat id odio eu, dapibus sagittis lacus. Ut vel mauris porttitor, ultricies magna sit amet, egestas odio.


    include footer
