extends main
block variables
    - var pageTitle = 'Акции';

block content
    .banner.banner_news
    .wrapper-content
        .main
            aside.aside
                a(href='sales.html').aside__nav
                    img(src='../img/icon_arrow_forward@2x.png' alt='').main__nav-arrow
                .main__subtitle.lk__header_none  WATCHPARTS
                .main__header.lk__header_none Акции
                .lk__menu-block
                    .lk__menu
                        a(href='all_news.html')
                            img(src='../img/Icon_Arrow_Back_Green@2x.png', alt='', style='width: 28px;')
                    //nav.lk__nav
                        li
                            a(href="fast_delivery.html") Быстрая справка
                        li
                            a(href="history_orders.html") История платежей
                        li
                            a(href="status.html") Статус заказа
                        li
                            a(href="history_orders.html") История заказов
                        li
                            a(href="order.html") Корзина
                            span.lk__cart 21
                        li
                            a(href="payments.html") Платежные средства
                        li
                            a(href="favorites.html") Любимые товары
                        li
                            a.active(href="profile.html") Профиль покупателя
                        li.lk__exite Выйти

            .main__content
                article.news.news__full
                    .news__data 01.02.2020
                    .news__anonse MAURIS ELEMENTUM
                    h1.news__header TORTOR TORTOR GRAVIDA TORTOR, ET
                    .news__p Quisque malesuada ultrices bibendum. Cras dictum faucibus facilisis. Sed sodales sit amet tortor at semper. Cras finibus faucibus diam, ac consequat nisl iaculis quis. Nulla augue leo, imperdiet vel cursus at, tristique ut ante. Aliquam eleifend lectus id aliquam porttitor. Aliquam erat volutpat. Donec nisl nunc, eleifend a arcu vitae, eleifend hendrerit ex. Nulla iaculis mauris non augue facilisis interdum. Donec iaculis maximus metus ac faucibus. Aliquam ut odio consequat, facilisis tellus ac, finibus tortor.
                    .news__img
                        img(src='../img/news.png' alt='')
                        .news__imf-desc
                            .news__img-desc Рис.
                                span 1
                            .news__img-text Nam quis lectus eu diam lacinia cursus rutrum vitae risus. Fusce enim erat, elementum sit amet laoreet quis, consectetur et diam
                    h1.news__header TORTOR TORTOR GRAVIDA TORTOR, ET
                    .news__p Quisque malesuada ultrices bibendum. Cras dictum faucibus facilisis. Sed sodales sit amet tortor at semper. Cras finibus faucibus diam, ac consequat nisl iaculis quis. Nulla augue leo, imperdiet vel cursus at, tristique ut ante. Aliquam eleifend lectus id aliquam porttitor. Aliquam erat volutpat. Donec nisl nunc, eleifend a arcu vitae, eleifend hendrerit ex. Nulla iaculis mauris non augue facilisis interdum. Donec iaculis maximus metus ac faucibus. Aliquam ut odio consequat, facilisis tellus ac, finibus tortor.
                    .news__p Quisque malesuada ultrices bibendum. Cras dictum faucibus facilisis. Sed sodales sit amet tortor at semper. Cras finibus faucibus diam, ac consequat nisl iaculis quis. Nulla augue leo, imperdiet vel cursus at, tristique ut ante. Aliquam eleifend lectus id aliquam porttitor. Aliquam erat volutpat. Donec nisl nunc, eleifend a arcu vitae, eleifend hendrerit ex. Nulla iaculis mauris non augue facilisis interdum. Donec iaculis maximus metus ac faucibus. Aliquam ut odio consequat, facilisis tellus ac, finibus tortor.
                    .news__img
                        img(src='../img/news.png' alt='')
                        .news__imf-desc
                            .news__img-desc Рис.
                                span 2
                            .news__img-text Nam quis lectus eu diam lacinia cursus rutrum vitae risus. Fusce enim erat, elementum sit amet laoreet quis, consectetur et diam
                    .news__p Quisque malesuada ultrices bibendum. Cras dictum faucibus facilisis. Sed sodales sit amet tortor at semper. Cras finibus faucibus diam, ac consequat nisl iaculis quis. Nulla augue leo, imperdiet vel cursus at, tristique ut ante. Aliquam eleifend lectus id aliquam porttitor. Aliquam erat volutpat. Donec nisl nunc, eleifend a arcu vitae, eleifend hendrerit ex. Nulla iaculis mauris non augue facilisis interdum.  Cras dictum faucibus facilisis. Sed sodales sit amet tortor at semper. Cras finibus faucibus diam, ac consequat nisl iaculis quis. Nulla augue leo, imperdiet vel cursus at, tristique ut ante. Aliquam eleifend lectus id aliquam porttitor. Aliquam erat volutpat. Donec nisl nunc, eleifend a arcu vitae, eleifend hendrerit ex. Nulla iaculis mauris non augue facilisis interdum.
                    .news__p Quisque malesuada ultrices bibendum. Cras dictum faucibus facilisis. Sed sodales sit amet tortor at semper. Cras finibus faucibus diam, ac consequat nisl iaculis quis. Nulla augue leo, imperdiet vel cursus at, tristique ut ante. Aliquam eleifend lectus id aliquam porttitor. Aliquam erat volutpat. Donec nisl nunc, eleifend a arcu vitae, eleifend hendrerit ex. Nulla iaculis mauris non augue facilisis interdum. Donec iaculis maximus metus ac faucibus. Aliquam ut odio consequat, facilisis tellus ac, finibus tortor.



                .news__arows
                    a(href='')
                        img(src='../img/icon_arrow_forward@2x.png' alt='')
                    a(href='')
                        img(src='../img/icon_arrow_forward@2x.png' alt='')



    include footer
