extends main
block variables
    - var pageTitle = ' Главная';

block content
    .sale
        .sale__content
            .sale__item-big
                .sale__casio
                a(href='').sale__info.sale__info_big
                    img(src='../img/Icon_Arrow_Forward_Green@2x.png' alt='').sale__arrow
                    .sale__header 50%
                    .sale__brend Casio
                    .sale__subtitle CASIO GRAVIDA TORTOR
                    .sale__desc Nam quis lectus eu diam lacinia cursus rutrum vitae risus. Fusce enim erat, elementum sit amet laoreet quis, consectetur et diam

            .sale__item-small
                .sale__vestibulum
                    a(href='').sale__info
                        img(src='../img/Icon_Arrow_Forward_Green@2x.png' alt='').sale__arrow
                        .sale__header 50%
                        .sale__brend Casio
                        .sale__subtitle CASIO GRAVIDA TORTOR
                        .sale__desc Nam quis lectus eu diam lacinia cursus rutrum vitae risus. Fusce enim erat, elementum sit amet laoreet quis, consectetur et diam
                .sale__tissot(style='position:relative;')
                    a(href='').sale__info
                        img(src='../img/Icon_Arrow_Forward_Green@2x.png' alt='').sale__arrow
                        .sale__header 50%
                        .sale__brend Casio
                        .sale__subtitle CASIO GRAVIDA TORTOR
                        .sale__desc Nam quis lectus eu diam lacinia cursus rutrum vitae risus. Fusce enim erat, elementum sit amet laoreet quis, consectetur et diam

        .sale__content
            .sale__item
                .sale__vestibulum
                    a(href='').sale__info
                        img(src='../img/Icon_Arrow_Forward_Green@2x.png' alt='').sale__arrow
                        .sale__header 50%
                        .sale__brend Casio
                        .sale__subtitle CASIO GRAVIDA TORTOR
                        .sale__desc Nam quis lectus eu diam lacinia cursus rutrum vitae risus. Fusce enim erat, elementum sit amet laoreet quis, consectetur et diam
            .sale__item
                .sale__vestibulum
                    a(href='').sale__info
                        img(src='../img/Icon_Arrow_Forward_Green@2x.png' alt='').sale__arrow
                        .sale__header 50%
                        .sale__brend Casio
                        .sale__subtitle CASIO GRAVIDA TORTOR
                        .sale__desc Nam quis lectus eu diam lacinia cursus rutrum vitae risus. Fusce enim erat, elementum sit amet laoreet quis, consectetur et diam





    include footer
